@model SchoolApp.Models.Post

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <h4>Comment</h4>
    <hr />

    <div>
        <table>
            <thead>
                <tr>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var child in Model.Comments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => child.Content)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <form asp-action="AddComment">
        <div class="form-group">
            <label asp-for="Content"></label>
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="PostId" value="@Model.PostId" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
