@model SchoolApp.Models.Post

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>

    <h4>Comments</h4>
    <hr />

    <div>

        @foreach (var child in Model.Comments)
        {

            <div class="card">
                <div class="card-header">
                    Mansur
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@Html.DisplayFor(modelItem => child.Content)</p>
                    </blockquote>
                </div>
            </div>

            <br />
        }

    </div>


    <form asp-action="AddComment">
        <div class="form-group">
            <label asp-for="Content"></label>

            <div class="row justify-content-around">
                <div class="col-md-11">
                    <input asp-for="Content" class="form-control" />
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </div>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="PostId" value="@Model.PostId" />

    </form>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
